.iconfont {
    margin-right: 8px;
}

.layui-icon {
    margin: 0 10px 0 20px !important;
}

.layui-body {
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

a {
    transition: none !important;
}

.txt {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.user {
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.user img {
    width: 40px;
    height: 40px;
}

.welcome {
    font-size: 12px;
}

.layui-side-scroll .user {
    border-bottom: 1px solid #23262E;
}